.card,
.container,
.deck,
.score-panel,
.stars {
  display: flex;
}

.container {
  flex-direction: column;
  align-items: center;
}

/*
 *Score Panel
 */

.score-panel, .stars {
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.score-panel {
	max-width: 50vw;
}

/*
 * Cards
 */

.deck {
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.card {
  align-items: center;
  justify-content: center;
}

/*
* Modal Styling
*/
.overlay {
  display: none;
}

.results,
.try-again {
  display: block;
}
