/*
* Game board
*/
.container {
  max-height: 90vh;
  margin: 0;
  padding: 0;
}

.memory-game-header {
  margin: 5% 0 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 3rem;
}

/* Score Panel */
.score-panel {
  min-width: 100vw;
}

.stars {
  padding: 0;
  color: #FFD700;
  list-style: none;
}

/* Card spread */
.deck {
  width: 90vw;
  height: 70vh;
  margin: 0;
  padding: 2%;
  border-radius: 2%;
  background: #00e5ff;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

.card {
  width: calc(25% - 2%);
  height: calc(25% - 2%);
  border-radius: 7.5%;
  background: #424242;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  font-size: 0;
  cursor: pointer;
}

.face-up,
.match,
.mismatched {
  color: white;
  font-size: 3rem;
  list-style: none;
}

.face-up {
  background: #02b3e4;
}

.match {
  background: #6effff;
}

.mismatched {
  background: red;
}

.disabled {
  pointer-events: none;
}

/* Results modal */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.results {
  position: relative;
  margin: 2vw auto;
  width: 95vw;
  border-radius: 5px;
  background: white;
  text-align: center;
}

.star-display {
  max-width: 50vw;
  margin: auto;
  padding-top: 3%;
  font-size: 5vw;
}

.close-modal {
  top: 0;
  float: right;
  color: gray;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 1%;
  margin: 0;
}

.play-again {
  width: 60%;
  margin: 3% auto;
  padding-top: 2%;
  border-radius: 3%;
  background-color: #141214;
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.1rem;
}

/*
* Responsive design
*/

/* Medium Screens */
@media (min-width: 440px) {

  .score-panel {
		max-width: 25vw;
	}
}

/* larger screens */
@media (min-width: 768px) {

  .container {
    font-size: 1.5rem;
    max-width: 100vw;
    max-height: 90vh;
    margin: auto;
  }

  .deck {
    max-width: 50vw;
  }

  .card {
    max-height: 15vh;
  }

  .face-up {
    font-size: 4rem;
  }

  .score-panel {
    min-width: 50vw;
  }

  .results {
    width: 40vw;
  }
}
